@font-face {
    font-family: roboto-extraLight;
    src: url(fonts/Roboto-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: roboto-cond;
    src: url(fonts/Roboto_SemiCondensed-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: roboto-cond, roboto-extraLight, Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(240px, 1fr) 6fr;
    grid-template-rows: 1fr 6fr;
    grid-auto-flow: row;
}

/* Header CSS */
.header {
    padding: 1rem 1.5rem 1.8rem 2rem;
    background-color: white;
    box-shadow: 0 2px 3px 3px #CCD1D9;
    z-index: 1;

    display: grid;
    grid-template-columns: 2fr minmax(400px, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "search account"
                         "hi blueButtons";

    /* TOP LEFT SEARCH BAR */
    >.search {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-area: search;
        >#searchField {
            margin-left: 1rem;
            height: 1.8rem;
            width: 70%;
            border-radius: 20px;
            border: 0;
            background-color: #E2E8F0;
        }
    }

    /* TOP RIGHT BELL ICON PROFILE PIC & NAME */
    >.account {
        grid-area: account;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
        >#miniProfilePic {
            height: 48px;
            width: 48px;
        }

        >#bell {
            height: 24px;
            width: 24px;
        }
    }
    /* BOTTOM LEFT PROFILE PIC & GREETING */
    >.hi {
        margin-top: 1rem;
        grid-area: hi;
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: 1.5rem 1.5rem;
        align-items: center;

        >#greetedName {
            font-size: 1.3rem;
        }

        >#profilePic {
            grid-row: 1/3;
        }
    }
    /* BOTTOM RIGHT 3 BLUE BUTTONS */
    .blueButtons {
        grid-area: blueButtons;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-end;
        >.blue {
            width: 7rem;
            height: 2.4rem;
            
            border: 0;
            background-color: #1992D4;
            border-radius: 20px;
            color: #E2E8F0;
            font-size: 1rem;
        }
    }
}
/*Main area CSS */
.main {
    padding: 1rem;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.main-headers {
    font-size: 1.4rem;
}

.main-containers-projects {
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
}

.main-containers-announcements {
    grid-area: 1/2/2/3;
    margin: 0 20px;
}

.main-containers-trending {
    grid-area: 2/2/3/3;
    margin: 0 20px;
}

/* Main Cards CSS */
.projects {
    margin: 1.3rem 0;
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    
    gap: 35px;
    > .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:flex-end;
        height: 240px;
        border: 0;
        border-radius: 10px;
        box-shadow: 3px 2px 3px 2px #CCD1D9,
                    inset 7px 0px rgb(238, 192, 64);
        padding: 2.4rem;
        background-color: #FFFFFF;
        
        >.card-icon-div {
            display: flex;
            flex-direction: row;
        }  
        
        >div .card-header {
            font-size: 1.4rem;
            padding: 4px 0;
        }
        >div .card-text {
            padding-bottom: 1.5rem;
            line-height: 1.9rem;
            font-size: 1.4rem;
            font-family: roboto-extraLight;
            color: #757575;
        }

    }
}

.cardIcon {
    height: 24px;
    width: 24px;
}

/* Announcements CSS  */

.announcements {
    margin: 1.3rem 0;
    padding: 0.5rem 1.6rem;
    border-radius: 10px;
    box-shadow: 3px 2px 3px 2px #CCD1D9;
    background-color: #FFFFFF;
    > .ann {
        padding: 1rem;
        font-size: 1.2rem;
        box-shadow:  0px 1px 0px 0px #CCD1D9;
        >.ann-text {
            padding-top: 7px;
            line-height: 1.5rem;
            font-family: roboto-extraLight;
            color: #757575;
        }
    }
}

#last-ann {
    box-shadow: none;
}
/* Trending CSS */

.trending {
    margin: 1.3rem 0;
    padding: 0.5rem 0rem;
    border-radius: 10px;
    box-shadow: 3px 2px 3px 2px #CCD1D9;
    background-color: #FFFFFF;

    >.trending-piece{
        
        color: #757575;
        font-size: 1.2rem;
        margin: 25px;
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: 1.5rem 1.5rem;
        align-items: center;
        > p {
            font-family: roboto-extraLight;
        }
        >.username {
            font-family: roboto-cond;
            color: #1f1e1e;
            font-size: 1.2rem;
        }
        >img {
            grid-area: 1/1/3/2;
        }
    }
    
}

/*Sidebar CSS*/
.sidebar {
    
    background-color: #1992D4;
    grid-area: 1/1/3/2;
    z-index: 2;
    
    >.logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1.3rem 0.9rem;
        font-size: 1.8rem;
        color: aliceblue; 
    }
    >.nav {
        
        font-size: 1.3rem;
        color: aliceblue;
        padding :0.5rem 2rem;

        > ul {
            list-style-type: none;

            > li {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                margin: 1rem 0;

                > img {
                    margin-right: 1rem;
                    fill: white;
                }
            }
        }
    }
}
#logoImg {
   margin-right: 1rem;
}
